checkpoint1.json
[{"id":"3bc5e7e4.97e678","type":"inject","z":"5a140a65.a11de4","name":"","topic":"","payload":",,25.5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":260,"wires":[["1a49779d.e35108"]]},{"id":"eff2371c.57e2b8","type":"inject","z":"5a140a65.a11de4","name":"","topic":"","payload":",,20.3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":420,"wires":[["1a49779d.e35108"]]},{"id":"1a49779d.e35108","type":"mqtt out","z":"5a140a65.a11de4","name":"","topic":"mcs/DX6FvD0n/FZt7v6EQaZfIBOpv/Temperature","qos":"2","retain":"","broker":"849a67cb.0222a8","x":930,"y":360,"wires":[]},{"id":"849a67cb.0222a8","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
