checkpoint2.json
[{"id":"77a21e00.b8a48","type":"tab","label":"checkpoint2","disabled":false,"info":""},{"id":"8ab9b232.2418b","type":"mqtt in","z":"77a21e00.b8a48","name":"","topic":"mcs/DX6FvD0n/FZt7v6EQaZfIBOpv/+","qos":"2","datatype":"auto","broker":"849a67cb.0222a8","x":470,"y":540,"wires":[["e9e47d1d.d300b"]]},{"id":"e9e47d1d.d300b","type":"csv","z":"77a21e00.b8a48","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":",,Data","skip":"0","strings":true,"x":500,"y":660,"wires":[["c720320b.905b9"]]},{"id":"c720320b.905b9","type":"change","z":"77a21e00.b8a48","name":"Get Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":800,"wires":[["aa9042f1.1ebb"]]},{"id":"aa9042f1.1ebb","type":"ui_gauge","z":"77a21e00.b8a48","name":"","group":"160bb6da.df8a09","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":800,"wires":[]},{"id":"849a67cb.0222a8","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"160bb6da.df8a09","type":"ui_group","z":"","name":"Status","tab":"759a1585.84b7ac","order":1,"disp":true,"width":"6","collapse":false},{"id":"759a1585.84b7ac","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]
